@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    color: rgb(92, 92, 92);
     display: flex;
    justify-content: space-between;
    gap: 3rem;
    background-color: #fff;
}
h1 {
  margin: 2rem 0;
  text-transform: uppercase;
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: lightslategray;
  color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: lightslategray;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: lightslategray;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}


  .menu__item {
    display: block;
    padding: 12px 24px;
    text-transform: uppercase;
    color: lightslategray;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: aliceblue;
    color: #444;
  }
 ul li {
    list-style-type: none;
  }
#navbar ul li:hover {
    background-color: aliceblue;
}
.main-section > header {
    font-size: 1.6rem;
    padding: 1.2rem;
    background-color:aliceblue;
    margin-right: 2rem;
}
.main-section > p,
.main-section > ul {
    padding: 1rem;
}
.main-section ul li {
    margin: 1rem;
}

pre {
    background-color: lightslategrey;
    color: #fff;
    margin: 1rem 2rem;
    border-radius: 5px;
    font-size: 15px;
    padding-top: 10px;
    overflow: auto;
    max-width: 100%;
    min-width: 100px;
} 
